# C development
*.o
*.ko
*.obj
*.elf
*.lib
*.a

*.out
*.dll
*.so
*.so.*
*.dylib


# Common text editor backup files
*~
\#*\#
.emacs.desktop
.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*
.org-id-locations
*_archive

bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib

[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~
